/*
General Style
--------------------------------------------------------------------------------
*/
* {
	scroll-behavior: smooth;
}
body {
	background: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	margin: 5% 15% 5% 15%;
}


/*
Typography
--------------------------------------------------------------------------------
*/
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
	color: rgba(0, 0, 0, 1);
	letter-spacing: 0.05em;
}
h3 {
	font-size: 1.33em;
}
hr {
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 1px 0 0;
  height: 0;
}
ul {
	list-style: none;
}

/*
Links
--------------------------------------------------------------------------------
*/
a {
	color: rgba(0, 0, 0, 0.7);
	font-style: normal;
	text-decoration: none;
}
a:hover {
	color: rgba(256, 156, 0, 0.7);
}

/*
Specific Style
--------------------------------------------------------------------------------
*/

.container {
	padding: 15% 0;
}

/*----- front page styling -----*/
ul.contact {
	padding: 0;
	margin: 0;
}
	ul.contact li {
		display: inline-block;
		line-height: 2em;
		margin-right: 0.5em;
	}

.name {
	margin: 16% auto 0% auto;
	letter-spacing: 0.08em;
}
	@media only screen and (min-width: 576px) {
		.name {
			width: 90%;
		}
	}
	@media only screen and (min-width: 768px) {
		.name {
			width: 70%;
		}
	}
	@media only screen and (min-width: 992px) {
		.name {
			width: 50%;
		}
	}
	@media only screen and (min-width: 1200px) {
		.name {
			width: 36%;
		}
	}

.title {
	margin: 0.5em auto 25% auto;
	text-align:left;
	line-height: 1.5em;
	font-size: 1.33em;
}
	@media only screen and (min-width: 576px) {
		.title {
			width: 90%;
		}
	}
	@media only screen and (min-width: 768px) {
		.title {
			width: 70%;
		}
	}
	@media only screen and (min-width: 992px) {
		.title {
			width: 50%;
		}
	}
	@media only screen and (min-width: 1200px) {
		.title {
			width: 36%;
		}
	}

.front_bottom {
	margin: 0% auto 10% auto;
	text-align: center;
}

ul.internal_links {
	margin: 0;
	word-spacing: 10em;
}
	@media only screen and (min-width: 576px) {
		ul.internal_links {
			word-spacing: 3em;
		}
	}
	@media only screen and (min-width: 768px) {
		ul.internal_links {
			word-spacing: 5em;
		}
	}
	@media only screen and (min-width: 992px) {
		ul.internal_links {
			word-spacing: 10em;
		}
	}
	@media only screen and (min-width: 1200px) {
		ul.internal_links {
			word-spacing: 10em;
		}
	}

	ul.internal_links li {
		font-size: 1.6em;
		letter-spacing: 0.05em;
	}
		@media only screen and (max-width: 575px) {
			ul.internal_links li {
				display: inherit;
				line-height: 1.5em;
			}
		}
		@media only screen and (min-width: 576px) {
			ul.internal_links li {
				display: inherit;
				line-height: 1.5em;
			}
		}
		@media only screen and (min-width: 768px) {
			ul.internal_links li {
				display: inline-block;
			}
		}
		@media only screen and (min-width: 992px) {
			ul.internal_links li {
				display: inline-block;
			}
		}
		@media only screen and (min-width: 1200px) {
			ul.internal_links li {
				display: inline-block;
			}
		}

/*----- about me styling -----*/
.about.text {
	width: 50%;
	line-height: 1.5em;
}
.about.img {
	padding: 5% 0;
	float: right;
	width: 450px;
}

/*----- project styling -----*/
.container.project {
	width: 100%;
	height: 450px;
	padding: 5% 0% 0% 0%;
}
	.container.project#tilt_shift {
		width: 100%;
		height: 450px;
		padding: 5% 0 0% 0;
	}

.project.text {
	transition: all 0.5s ease;
	width: 40%;
	line-height: 1.5em;
}
	.project.text:hover {
		color: rgba(256, 156, 0, 0.7);
	}

.project.img>.image {
	opacity: 1;
	display: block;
	transition: all 0.5s ease;
	backface-visibility: hidden;
	float: right;
}
	.container.project>a:hover .image {
		opacity: 0.5;
	}

.project.text>h2 {
	transition: all 0.5s ease;
}
.container.project>a:hover .project.text>h2{
	color: rgba(256, 156, 0, 0.7);
}

hr.short {
	margin: 0;
	width: 15%;
}

/*----- experience styling -----*/
.container.experience>a {
	font-size: 1.33em;
	color: rgba(0, 0, 0, 1);
}
.experience.text {
	margin: 5% auto;
	font-size: 1.0em;
	color: black;
	text-align: left;
}
