/*
General Styling
--------------------------------------------------------------------------------
*/

* {
	scroll-behavior: smooth;
}
body {
	background: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    margin: 0;
}

.container {
	margin: 0 10vw;
}

section {
	margin: 0;
}

footer p{
	font-size: 0.89em;
	margin: 3em 0;
	padding: 0 0 0 4em;
	text-align: left;
}
	@media (max-width: 1024px) {
		footer p {
			padding: 0;
			text-align: center;
		}
	}

/*
Typography
--------------------------------------------------------------------------------
*/

h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
	color: rgba(0, 0, 0, 1);
	letter-spacing: 0.05em;
}
h3 {
	font-size: 1.33em;
}
hr {
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 1px 0 0;
  height: 0;
}
ul {
	list-style: none;
}

/*
Links
--------------------------------------------------------------------------------
*/

a {
	color: rgba(0, 0, 0, 0.7);
	font-style: normal;
	text-decoration: none;
}
a:hover {
	color: rgba(256, 156, 0, 0.7);
}

/*
Main Header Styling
--------------------------------------------------------------------------------
*/

#main-header {
	top: 0;
	background-color: #fff;
	z-index: 1;
	height: 80px;
	width: 80vw;
	padding: 0 10vw;
}
	@media (max-width: 576px) {
		#main-header {
			height: 60px;
		}
	}
	@media (min-width: 768px) {
		#main-header {
			position: fixed;
		}
	}

#main-header img {
	position: relative;
}
	@media (max-width: 576px) {
		#main-header img {
			top: 15px;
		}
	}
	@media (min-width: 576px) {
		#main-header img {
			top: 25px;
		}
	}

#main-header span {
	position: relative;
	top: 20px;
	font-size: 1.33em;
	color: #555;
	left: 25px;
}
	@media (max-width: 767px) {
		#main-header span {
			display: none;
		}
	}

#nav-bar {
	display: inline;
	position: relative;
	float: right;
	top: 30px;
	right: 0px;
	text-align: right;
}

#main-header ul {
	display: inline;
}

#main-header li {
	display: inline;
	padding: 0 0 0 3em;
}


#main-header a {
	font-size: 19px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #555;
}
	@media (max-width: 991px) {
		#main-header a {
			display: none;
		}
	}

#main-header a:hover {
	color: #000;
	transition: ease-in-out 0.3s;
}

/*
Sidebar Styling
--------------------------------------------------------------------------------
*/


#sidebar {
	position: fixed;
	bottom: 0;
	background-color: #fff;
	z-index: 1;
	height: 320px;
	display: none;
	padding-left: calc(5vw - 12.5px);
}
	@media (min-width: 768px) {
		#sidebar {
			display: block;
		}
	}

#sidebar ul {
	margin: 0;
	padding: 0;
}

#sidebar li {
	padding: 0 0 10px 0;
}

#sidebar a {
	font-size: 19px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #555;
}
	@media (max-width: 768px) {
		#main-header a {
			display: none;
		}
	}

#sidebar a:hover {
	color: #000;
	transition: ease-in-out 0.3s;
}

#sidebar img {
	width: 25px;
	opacity: 1.0;
}

#sidebar img:hover {
	width: 25px;
	opacity: 0.5;
}


#vertical-line {
	margin: 0 0 0 12px;
	width: 10px;
	border-left: 1px solid black;
	height: 200px;
}

/*
Front Page Styling
--------------------------------------------------------------------------------
*/

#front-page {
	height: 50vw;
	background: url('../images/atlanta.jpg');
	background-position: center;
	background-size: 90vw 50vw;
	background-repeat: no-repeat;
	position: relative;
	margin-top: 80px;
	margin-bottom: 10vw;
	display: none;
}
	@media (max-width: 576px) {
		#front-page {
			margin-top: 0;
		}
	}
	@media (min-width: 576px) {
		#front-page {
			margin-top: 0;
		}
	}
	@media (min-width: 768px) {
		#front-page {
			margin-top: 80px;
			display: block;
		}
	}

#title {
	font-family: 'Cormorant Garamond', serif;
	color: #fff;
	position: absolute;
	bottom: 18%;
	left: 15%;
	text-align: left;
	width: 50%;
	letter-spacing: 0.06em;
}
	@media (max-width: 576px) {
		#title {
			font-size: 20px;
		}
	}
	@media (min-width: 576px) {
		#title {
			font-size: 25px;
		}
	}
	@media (min-width: 768px) {
		#title {
			font-size: 30px;
		}
	}
	@media (min-width: 992px) {
		#title {
			font-size: 45px;
		}
	}
	@media (min-width: 1280px) {
		#title {
			font-size: 60px;
		}
	}

#pc {
	margin: 0;
	position: absolute;
	bottom: 0% ;
	right: 0%;
	text-align: right ;
	color: #fff;
}
	@media (max-width: 576px) {
		#pc {
			font-size: 5px;
			padding: 2.5px;
		}
	}
	@media (min-width: 576px) {
		#pc {
			font-size: 6px;
			padding: 4px;
		}
	}
	@media (min-width: 768px) {
		#pc {
			font-size: 8px;
			padding: 4px;
		}
	}
	@media (min-width: 992px) {
		#pc {
			font-size: 10px;
			padding: 5px;
		}
	}
	@media (min-width: 1280px) {
		#pc {
			font-size: 12px;
			padding: 6px;
		}
	}

/*
Project Section Styling
--------------------------------------------------------------------------------
*/

#project-header {
	display: grid;
	text-align: center;
	padding: 0 5vw;
	font-weight: lighter;
	letter-spacing: 0.05em;
	grid-template-columns: 1fr auto 1fr;
	grid-gap: 1em;
}
	@media (max-width: 576px) {
		#project-header {
			margin-top: calc(10vw - 1.33em);
			font-size: 1.33em;
			padding: 0 2vw;
		}
	}
	@media (min-width: 576px) {
		#project-header {
			margin-top: calc(10vw - 1.5em);
			font-size: 1.5em;
			padding: 0 2vw;
		}
	}
	@media (min-width: 768px) {
		#project-header {
			margin-top: 0;
			font-size: 1.5em;
		}
	}
	@media (min-width: 992px) {
		#project-header {
			margin-top: 0;
			font-size: 2em;
		}
	}

#project-header div {
	height: 50%;
	border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
}

#project-header p {
	margin: 0;
}

.project-card {
	padding: 0 10%;
	margin: 10vw 0;
	position: relative;
}
	@media only screen and (max-width: 576px) {
		.project-card {
			padding: 0;
			height: calc(80vw * 2/3);
		}
	}
	@media only screen and (min-width: 576px) {
		.project-card {
			padding: 0;
			height: calc(80vw * 2/3);
		}
	}
	@media only screen and (min-width: 768px) {
		.project-card {
			padding: 0 10%;
			height: calc(80vw * 0.8 * 2/3);
		}
	}
	@media only screen and (min-width: 992px) {
		.project-card {
			padding: 0 10%;
			height: calc(80vw * 0.8 * 0.5 * 2/3);
		}
	}

.project-card:hover *{
	color: #333;
	transition: all 0.5s ease;
	opacity: 0.7;
}

.project_card img {
	display: inline;
	height: auto;
}
	@media only screen and (max-width: 576px) {
		.project_card img {
			width: 100%;
			/* display: none; */
		}
	}
	@media only screen and (min-width: 576px) {
		.project_card img {
			width: 100%;
		}
	}
	@media only screen and (min-width: 768px) {
		.project_card img {
			width: 100%;
		}
	}
	@media only screen and (min-width: 992px) {
		.project_card img {
			margin: 0 0 0 8%;
			width: 50%;
		}
	}

.project_card h2 {
	/* font-size: 16px; */
}
	@media only screen and (max-width: 576px) {
		.project_card h2 {
			font-size: 16px;
			margin: 0;
			color: #fff;
			position: absolute;
			bottom: 0;
			width: 80vw;
			text-align: center;
			background-color: rgba(0, 0, 0, 0.4);
			padding: 0.33em 0;
			font-weight: 100;
		}
	}
	@media only screen and (min-width: 576px) {
		.project_card h2 {
			font-size: 16px;
			margin: 0;
			color: #fff;
			position: absolute;
			bottom: 0;
			width: 80vw;
			text-align: center;
			background-color: rgba(0, 0, 0, 0.4);
			/* height: 2em; */
			font-weight: 100;
			padding: 0.33em 0;
		}
	}
	@media only screen and (min-width: 768px) {
		.project_card h2 {
			font-size: 16px;
			margin: 0;
			color: #fff;
			position: absolute;
			bottom: 0;
			width: calc((80vw) * 8/10);
			text-align: center;
			background-color: rgba(0, 0, 0, 0.4);
			font-weight: 100;
			padding: 0.33em 0;
		}
	}
	@media only screen and (min-width: 992px) {
		.project_card h2 {
			font-size: 1.5em;
			margin: 0.75em 0;
			color: #000;
			position: unset;
			bottom: unset;
			width: unset;
			text-align: unset;
			background-color: unset;
			font-weight: 600;
			padding: 0;
			/* display: none; */
		}
	}

.project_card p {
	display: none;
	/* font-size: 16px; */
}
	@media only screen and (min-width: 992px) {
		.project_card p {
			display: block;
			font-size: 0.9em;
			line-height: 1.33em;
		}
	}

hr.short {
	margin: 0;
	width: 8%;
	display: none;
}
	@media only screen and (min-width: 992px) {
		hr.short {
			display: block;
		}
	}

/*
About Page Styling
--------------------------------------------------------------------------------
*/

#about {
	padding: 0 7vw;
}
	@media (max-width: 576px) {
		#about {
			margin-top: 0;
			margin-bottom: 0;
			height: 800px;
		}
	}
	@media (min-width: 576px) {
		#about {
			margin-top: 0;
			margin-bottom: 0;
			height: 900px;
		}
	}
	@media (min-width: 768px) {
		#about {
			margin-top: 15vh;
			margin-bottom: 15vh;
			height: 60vh;
		}
	}
	@media (min-width: 992px) {
		#about {
			margin-top: 30vh;
			margin-bottom: 30vh;
			height: 50vh;
		}
	}

#about-img {
	margin: 0;
	text-align: center;
	float: right;
}
	@media (max-width: 576px) {
		#about-img {
			width: 100%;
		}
	}
	@media (min-width: 576px) {
		#about-img {
			width: 100%;
		}
	}
	@media (min-width: 768px) {
		#about-img {
			width: 50%;
		}
	}
	@media (min-width: 992px) {
		#about-img {
			width: 50%;
		}
	}

	@media (max-width: 576px) {
		#me {
			width: 85%;
			position: center;
		}
	}
	@media (min-width: 576px) {
		#me {
			width: 85%;
			position: center;
		}
	}
	@media (min-width: 768px) {
		#me {
			width: 70%;
		}
	}
	@media (min-width: 992px) {
		#me {
			width: 70%;
		}
	}

#about-text {
	margin: 0;
	float: left;
}
	@media (max-width: 576px) {
		#about-text {
			font-size: 0.83em;
			width: 100%;
		}
	}
	@media (min-width: 576px) {
		#about-text {
			font-size: 0.83em;
			width: 100%;
		}
	}
	@media (min-width: 768px) {
		#about-text {
			font-size: 1em;
			width: 50%;
		}
	}
	@media (min-width: 992px) {
		#about-text {
			font-size: 1em;
			width: 50%;
		}
	}

#about-text h2 {
	padding-top: 2vw;
}
#about-text p {
	line-height: 1.5em;
}

#about-footer {
	height: 3em;
	/* position: absolute;
	bottom: 3em; */
}